.DS_Store
.Rproj.user
.Rhistory
.RData
/doc/
/Meta/
inst/doc
private
*_cache/
plots/examples/*.html
tests/testthat/_markdown/*.html
tests/testthat/_snaps/vignette/*.new.html
inst/rmarkdown/templates/**/*.html
