.idea
.DS_Store
.Rproj.user
.Rhistory
.RData
..Rcheck
volker_*.tar.gz
/doc/
/Meta/
inst/doc
revdep
private
cache/
*_cache/
plots/examples/*.html
tests/testthat/_markdown/*.html
tests/testthat/_snaps/vignette/*.new.html
inst/rmarkdown/templates/**/*.html
!vignettes/introduction_cache/
!tests/testthat/_markdown/reports_cache/
docs
