#header h1 {
  font-size:24px; font-weight:bold;
}

#header h4 {
  font-size: 0.9em;
  font-style: italic;
}

h3 {
  font-size: 1.2em;
  font-weight:bold;
}

.level4.tabset-pills {
  margin-top:1em;
}

.level4.tabset-pills {
  display:flex;
  flex-wrap:wrap;
}

.level4.tabset-pills h4 {
  margin-right:1em;
}

.level4.tabset-pills h4:empty {
  margin-right:0;
}

.level4.tabset-pills .nav-pills {
  flex:1;
  margin:auto;
}

.level4.tabset-pills .nav-pills li a {
  padding: 0 0.5em;
}

.level4.tabset-pills .tab-content {
  flex-basis:100%;
}
